<h1>Listing tagged_texts</h1>

<table>
  <tr>
		<th>Title</th>
		<th>Filename</th>
		<th>Comment</th>
  </tr>

<% for tagged_text in @tagged_texts %>
  <tr>
		<td><%=h tagged_text.title %></td>
    <td><%=h tagged_text.filename %></td>
		<td><%=h truncate(tagged_text.comment, 40) %></td>
		<td><%= link_to 'Show', tagged_text %></td>
    <td><%= link_to 'Edit', edit_tagged_text_path(tagged_text) %></td>
    <td><%= link_to 'Destroy', tagged_text, :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= link_to 'Tag', :controller => 'sentences', :action => 'show', :id =>  Sentence.scoped_by_tagged_text_id(tagged_text.id).scoped_by_text_index(0).first.id %></td>
		<td><%= link_to 'Download', :action => 'download', :id => tagged_text.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tagged_text', new_tagged_text_path %>
