<h1>Listing tagged_texts</h1>

<table>
  <tr>
		<th>Title</th>
		<th>Filename</th>
		<th>Comment</th>
  </tr>

<% for tagged_text in @tagged_texts %>
  <tr>
		<td><%=h tagged_text.title %></td>
    <td><%=h tagged_text.filename %></td>
		<td><%=h truncate(tagged_text.comment, 40) %></td>
		<td><%= link_to 'Bookmarks', :action => tagged_text.id, :id => 'bookmarks' %></td>
		<td><%= link_to 'Show', tagged_text %></td>
    <td><%= link_to 'Edit', edit_tagged_text_path(tagged_text) %></td>
    <td><%= link_to 'Destroy', tagged_text, :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= link_to 'Tag', :controller => 'sentences', :action => 'show', :id =>  Sentence.scoped_by_tagged_text_id(tagged_text.id).scoped_by_text_index(0).first.id %></td>
		<td><%= link_to 'Download', :action => 'download', :id => tagged_text.id %></td>
		<td><%= link_to 'List', :action => 'list', :id => tagged_text.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tagged_text', new_tagged_text_path %>

<p>
	This is a list of availabler tagged corpora.
<p>
	<ul>
		<li><b>Bookmarks:</b> List of bookmarks for this corpus.</li>
		<li><b>Show:</b> Display meta-information for this corpus.</li>
		<li><b>Edit:</b> Edit meta-information for this corpus.</li>
		<li><b>Destroy:</b> Delete corpus from database.</li>
		<li><b>Tag:</b> Go to first sentence of the corpus.</li>
		<li><b>Download:</b> Download the corpus text file.</li>
		<li><b>List:</b> Show a list of all the sentences in the corpus.</li>
		<li><b>Download:</b> Download the corpus text file.</li>
	</ul>
