<h1>New tagged_text</h1>

<% form_for(@tagged_text, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

	<p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows => 6 %>
  </p>

  <p>
    <%= f.label :encoding %>
    <%= f.select(:encoding, TaggedText.encodings) %>
  </p>

    <p>
        <!-- Dynamically update the options form for the selected format -->
        <%= f.label :format %>
        <%= f.select(:format, TaggedText.formats, {},
                     :onchange => remote_function(:url => {:action => :format_options},
                                                  :with => "'file_format='+this.value",
                                                  :update => 'div-text-format-options')) %>
    </p>

    <!-- File format options form -->
    <%=  render :partial => 'text_format_options', :locals => { :file_format => :obt } %>

  <p>
    <%= f.label :file %><br />
    <%= f.file_field :uploaded_file %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tagged_texts_path %>
