<% w_idx = wform.sentence_index -%>
<table>
<tr><th colspan='5' align='left'><%= sent.context_html_string(w_idx) %></th></tr>
<% t_idx = 1 -%>
<% wform.tags.each do |tform| -%>

    <tr id="<%= "row_#{w_idx}_#{t_idx}" -%>">
      <td><%= if t_idx < 10 then t_idx elsif t_idx == 10 then 0 end %></td>
      <td>
        <%= check_box_tag("tag_#{w_idx}_#{t_idx}", "tag_#{w_idx}_#{t_idx}", tform.correct?,
                          { :onclick => remote_function(:url => {:controller => :tags,
                                                                 :action => :toggle,
                                                                 :id => tform.id},
                                                        :with => "'status='+!$('tag_#{w_idx}_#{t_idx}').checked + '&nocache=' + new Date().getTime()",
                                                        :method => :get,
                                                        :before => "Field.disable('tag_#{w_idx}_#{t_idx}')",
                                                        :after => "Field.enable('tag_#{w_idx}_#{t_idx}')",
                                                        :success => "tagToggleSuccessHandler(request, 'tag_#{w_idx}_#{t_idx}', 'row_#{w_idx}_#{t_idx}');",
                                                        :failure => "tagToggleFailureHandler(request, 'tag_#{w_idx}_#{t_idx}');")}) %>
      </td>
      <td><%= h(tform.lemma) %></td>
      <td><%= h(tform.string) %></td>
      <td>
        <%= link_to_remote("del", :update => "tag-#{w_idx}",
                                  :url => {:controller => :tags, :action => :delete, :id => tform.id},
                                  :failure => "showError('failed!')") %>
      </td>
    </tr>
    <% t_idx += 1 -%>
<% end -%>

<!--
    Fold out form for adding new tag/lemma
-->

<tr>
  <th colspan="5" align="left" >
    <div>
      <%= link_to("+", "#",
                  :id => "add_tag_fold_#{wform.id}",
                  :onmousedown => "toggleAddTagForm(#{wform.id});",
                  :style => "text-decoration:none") %>
    </div>
    <div id=<%= "add_tag_form_#{wform.id}" -%> style='display:none'>
      <%= text_field_tag("add_tag_#{wform.id}") %>
      <%= text_field_tag("add_lemma_#{wform.id}") %>
      <%= submit_tag('Add', :onclick => remote_function(:url => {:controller => :words,
                                                                 :action => :add_tag,
                                                                 :id => wform.id},
                                                        :with => "'lemma='+$('add_lemma_#{wform.id}').value+'&tag='+$('add_tag_#{wform.id}').value",
                                                        :update => "tag-#{w_idx}"),
                     :success => "updateTag(#{w_idx});",
                     :failure => "showError('failed!');") %>
    </div>
  </th>
</tr>

<!--
    Fold out form for changing word form
-->

<tr>
  <th colspan="5" align="left">
    <div>
      <%= link_to("+", "#",
                  :id => "change_word_form_fold_#{wform.id}",
                  :onmousedown => "toggleChangeWordFormForm(#{wform.id});",
                  :style => "text-decoration:none") %>
    </div>
    <div id=<%= "change_word_form_form_#{wform.id}" -%> style='display:none'>
      <%= text_field_tag("change_word_form_#{wform.id}") %>
      <%= submit_tag("Change",
                     :onclick => remote_function(:url => {:controller => :words,
                                                          :action => :change_form,
                                                          :id => wform.id},
                                                 :with => "'word_form='+$('change_word_form_#{wform.id}').value",
                                                 :update => "tag-#{w_idx}",
                                                 :success => "updateWord(#{w_idx}, $('change_word_form_#{wform.id}').value);",
                                                 :failure => "showError('failed!');")) %>
    </div>
  </th>

</tr>
</table>
