<!-- Partial generating the html form for changing word/tag details in a VRT tagged text.

     Local variables:
     The word instance: wform
     The sentence instance: sentence -->

<!-- TODO update shortcuts -->

<% w_idx = wform.sentence_index -%>

<!-- Fold out form for changing the word form -->
<div class="span6">
    <%= render(:partial => 'shared/fold_out_button',
               :locals => {:fold_out_elt_id => "change_word_form_#{wform.id}",
                           :button_id => "change_word_button_vrt_#{wform.sentence_index}",
                           :button_text => "Change word"}) %>

    <div style='display:none' id=<%= "change_word_form_#{wform.id}" -%>>
        <% form_tag(:controller => :words, :action => :change_form, :id => wform.id) do -%>
            Word:
            <%= text_field_tag(:word_form, "", :onfocus => "removeShortcuts();",
                               :onblur => "addShortcuts();") %>
            <%= hidden_field_tag(:focus, 0, :id => :focus_value, :class => :focus_value) %>
            <%= submit_tag('Change') %>
        <% end -%>
    </div>
</div>

<!-- Fold out form fort changing the lemma -->
<div class="span6">
    <%= render(:partial => 'shared/fold_out_button',
               :locals => {:fold_out_elt_id => "change_lemma_form_#{wform.id}",
                           :button_id => "change_lemma_button_vrt_#{wform.sentence_index}",
                           :button_text => "Change lemma"}) %>

    <div style='display:none' id=<%= "change_lemma_form_#{wform.id}" -%>>
        <% form_tag(:controller => :tags, :action => :update, :id => wform.tags[0].id) do -%>
            Lemma:
            <%= text_field_tag(:lemma, "", :onfocus => "removeShortcuts();",
                               :onblur => "addShortcuts();") %>
            <%= hidden_field_tag(:focus, 0, :id => :focus_value, :class => :focus_value) %>
            <%= submit_tag('Change') %>
        <% end -%>
    </div>
</div>

<!-- Fold out form for changing the tag string -->
<div class="span6">
    <%= render(:partial => 'shared/fold_out_button',
               :locals => {:fold_out_elt_id => "change_tag_form_#{wform.id}",
                           :button_id => "change_tag_button_vrt_#{wform.sentence_index}",
                           :button_text => "Change tag"}) %>

    <div style='display:none' id=<%= "change_tag_form_#{wform.id}" -%>>
        <% form_tag(:controller => :tags, :action => :update, :id => wform.tags[0].id) do -%>
            Tag:
            <%= text_field_with_auto_complete_with_id_checking(
                        :tag, :string, {:id => "change_tag_#{wform.id}", :onfocus => "removeShortcuts();",
                                        :onblur => "addShortcuts();"},
                        {:url => {:controller => :tags, :action => "auto_complete_for_tag_string"},
                         :method => :get}) %>

            <%= hidden_field_tag(:focus, 0, :id => :focus_value, :class => :focus_value) %>
            <%= submit_tag('Change') %>
        <% end -%>
    </div>
</div>
