<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'shortcut' %>
    <%= javascript_include_tag 'jquery.min.js' %>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>

    <%= javascript_tag 'var $J = jQuery.noConflict();' %>
	
	<style type="text/css">
		.selected-context { color: red; }
		
	</style>
</head>
<body>

<div id="flash_messages">
	<%= render :partial => 'layouts/flash', :object => flash %>
</div>

<%= yield  %>

</body>
</html>
